table {
    table-layout: fixed;
    width: 45%;
    border-collapse: collapse;
    border: 2px solid purple;
  }
  
  thead th:nth-child(1) {
    width: 15%;
  }
  
  thead th:nth-child(2) {
    width: 15%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 10px;
  }


  th,td {
    border: solid 1px;              
}
 
table {
    border-collapse:  collapse;     
}