h1{
  padding: 0.5em;
  color: #42575a;
  background: #83cdf0;
}
body{
  background-color: rgb(201, 231, 248);
}

table {
    table-layout: fixed;
    width: 32%;
    border-collapse: collapse;
    border: 2px solid purple;
  }
  
  thead th:nth-child(1) {
    width: 15%;
  }
  
  thead th:nth-child(2) {
    width: 15%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 50%;
  }
  
  th, td {
    padding: 10px;
  }


  th,td {
    border: solid 1px;              
}
 
table {
    border-collapse:  collapse;
    text-align: center;
    width:700px
}

table th{
    color: #2258ec;
    background: rgb(105, 185, 231)
  }